td {
border: 2px solid black;
height: 50px;
width: 50px;
 font-size: 30px;
}
.cellshow{
	background-color: green;
	color:blue;
	 
}
body
{
	background-image: url("sudoku.png");
	background-repeat: no-repeat;
	background-size: cover;

}
button
{
	background-color: black;
	height:30px;
	width:40px;
}
